.logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 20%;
}

.header {
    display: flex;
    justify-content: space-between;
}


.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
.avatar2 {
    text-align: center;
}
.output {
    display: inline-table;
    column-span: unset;
}

.text1 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    .logo {
        flex-direction: column;
        margin-bottom: 15px;
        width: 50px;
        height: 50px;
        vertical-align: middle;
        border-radius: 20%;
    }

}
.img-slideshow {
    width: 13000;
    height: 578;
}